body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
        background-color: #333;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;    
}
 .grid-item{
border: #ddd solid 5px;
border-radius: 5px;

 }
 .grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 20px;
    padding: 20px;
    
 }
 .grid-item img{
    width: 100%;
    display: block;
 }

.grid-item:hover{
    transition: 0.3s;
    transform: scale(1.05);
}


.large{
    grid-column: span 2;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3,1fr);
    }
}
    
 @media (max-width: 720px) {
     .grid-container {
         grid-template-columns: repeat(2,1fr);
        }
    }